# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#VC++
*.tlog
*.pdb
*.idb
*.suo
*.db
*.log
*.sdf

#Intel
*.ilk
*.iobj
*.ipdb
*.opendb
*.xml
*.nupkg
*.targets
*.lastcodeanalysissucceeded
*.config
*.props
